@font-face {
    font-family: Emberly;
    src: url(./font/Emberly-SemiBoldNarrow.otf);
}

@font-face {
    font-family: EmberlyBold;
    src: url(./font/Emberly-ExtraBoldCondensed.otf);
}
:root{
    --bg-primary: #F4BC00;
    --bg-secondary: #1a1a1a;
    --bg-ternary: #E0DDD6;
    --bg-ternary-light: #E2E2E2;
    --white: #FFFFFF;
    font-family: Emberly;
}

body{
    height: 100vh;
    margin: 0;
    background-color: var(--bg-ternary);
}

.container{
    height: 100vh;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(12, 1fr);
}

.nav{
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    display: grid;
    justify-items: center;
    align-items: center;
}

.nav .nav__content{
    background-color: rgba(255, 255, 255, 0.6);
    width: 90%;
    height: 60px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav__content img{
    height: 50%;
}

.nav .nav__content ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav .nav__content ul li{
    font-size: 30px;
    letter-spacing: 2pt;
    position: relative;
}

.nav .nav__content ul li::after{
    content: "";
    width: 100%;
    height: 2.5px;
    background: rgb(244,188,0);
background: linear-gradient(90deg, rgba(244,188,0,1) 0%, rgba(244,188,0,1) 50%, rgba(224,221,214,1) 50%, rgba(224,221,214,1) 63%, rgba(177,174,169,1) 75%, rgba(26,26,26,1) 75%, rgba(26,26,26,1) 100%);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.mainFace{
    grid-column: 2 / 7;
    grid-row: 1 / 7;
    display: grid;
    align-content: end;
}

.mainFace img{
    width: 80.75%;
    margin-left: 6%;
}

.penFace{
    grid-column: 4 / 7;
    grid-row: 2 / 6;
    display: grid;
    align-content: end;
}

.penFace img{
    width: 57%;
    margin-bottom: 13.5%;
    margin-left: 12%;
    box-shadow: var(--bg-primary) 0px 7px 29px 0px;
}

.logo{
    grid-column: 1 / 3;
    grid-row: 5 / 7;
    display: flex;
    padding-left: 80px;
}

.logo .primary{
    font-size: 200px;
}

.logo .primary .secondary{
    font-size: 130px;
    color: var(--white);
}

.squareText div{
    background-color: var(--bg-primary);
    width: 75px;
    height: 94.5px;
    margin-top: 67px;
    margin-left: 50px;
}

.barY{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    display: grid;
    align-content: center;
}

.barY .bar{
    height: 200px;
    width: 20px;
    background-color: var(--bg-primary);
    box-shadow: var(--bg-secondary) 35px 0px 0px 0px,
    var(--white) calc(100vw - 20px) 0px 0px 0px,
    var(--white) calc(50vw - 20px) calc(50vh - 100px) 0px 0px,
    var(--bg-secondary) calc(50vw - 55px) calc(50vh - 100px) 0px 0px,
    var(--bg-primary) calc(50vw - 90px) calc(50vh - 100px) 0px 0px;
}

.barX{
    grid-column: 3 / 7;
    grid-row: 2 / 3;
    padding-top: 22px;
    display: grid;
    justify-content: end;
}

.barX .bar{
    width: 200px;
    height: 20px;
    background-color: var(--bg-secondary);
    box-shadow: var(--white) -140px 0px 0px 0px,
    var(--bg-primary) -280px 0px 0px 0px,
    var(--bg-primary) -420px 0px 0px 0px,
    var(--white) -120px 0px 0px 0px,
    var(--bg-secondary) calc(50vh + 210px) calc(100vh - 170px) 0px 0px;
}

.description{
    grid-column: 7 / 10;
    grid-row: 2 / 5;
}

.description .description__content{
    margin-top:10%;
    margin-left: 10%;
    height: 90%;
    width: 70%;
    background-color: #1a1a1a;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.description .description__content h1{
    font-size: 120px;
    color: var(--white);
}

.text{
    margin: 0;
    text-transform: uppercase;
}

.description .description__content h2{
    color: var(--bg-primary);
    font-size: 47px;
}

.slogans{
    grid-column: 9 / 12;
    grid-row: 2 / 5;
    position: relative;
}

.slogans .slogans__content{
    background-color: var(--bg-primary);
    margin-top:10%;
    height: 90%;
    margin-left: 13.3%;
    width: 76%;
    text-align: right;
    display: grid;
    justify-content: center;
    align-content: flex-start;
}

.slogans .slogans__content h1{
    font-size: 80px;
    margin: 70% 0 0 0;
}

.slogans .slogans__content h2{
    margin: 0;
    font-size: 65px;
}

.slogans .bar{
    width: 20px;
    height: 100px;
    background-color: var(--white);
    top: 10%;
    right: 10.7%;
    position: absolute;
    box-shadow: var(--white) -282px 243.5px 0px 0px;
}

.pen{
    grid-column: 7 / 10;
    grid-row: 4 / 7;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.pen img{
    height: 93%;
    margin-right: 25px;
}

.imgSecondary{
    grid-column: 9 / 12;
    grid-row: 4 / 7;
    display: grid;
    justify-items: end;
    position: relative;
}

.imgSecondary .imgSecondary__content{
    width: 250px;
    height: 250px;
    margin-top: 45px;
    box-shadow: var(--bg-secondary) 0px 7px 29px 0px;
    background-color: var(--bg-ternary-light);
    background-image: url(./img/secondary-face.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.imgSecondary .imgSecondary__content::after{
    content: "";
    width: 20px;
    height: 100px;
    background-color: var(--bg-secondary);
    top: 195px;
    position: absolute;
}

.imgSecondary h1{
    font-size: 145px;
    margin: 0;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    position: absolute;
    right: 100px;
    top: 15px;
    color: white;
    letter-spacing: 3pt;
    font-family: EmberlyBold;
}
